/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
}

#bottone{
  border-radius: 50%;
  margin-top: 5px;
    margin-left: 70vw;
}
